@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/* reset css */

/* style common */
:root {
    --color-white: #fff;
    --color-yellow: #f6bc3e;
    --color-red: #ff324d;
    --color-green: #388e3c;
    --color-grey: #687188;
    --color-black: #292b2c;
    --color-grey-white: #f4f9fc;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-black);
    font-size: 1.6rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px dashed red;
    padding: 0 1.2rem;
}
/* style common */





/* =========================Start Header========================= */
/* 1. Style layout */
header {
    margin: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-menu {
    display: flex;
    align-items: center;
}

ul.pages-link {
    display: flex;
}

ul.search {
    display: flex;
    margin-left: 10px;
    margin-right: -10px;
}
/* 1. Style layout */

/* 2. Style detail image */
.logo a {
    display: block;
    width: 182px;
}

.logo a img {
    display: block;
    max-width: 100%;
}
/* 2. Style detail image */

/* 3. Style pages link */
.pages-link li a {
    display: inline-block;
    color: var(--color-black);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 12px 10px;
    text-transform: uppercase;
    transition: all .5s;
}

.pages-link li a:hover {
    color: var(--color-red);
}

.pages-link li a.active {
    color: var(--color-red);
}
/* 3. Style pages link */

/* 4. Style search menu */
.search li {
    padding: 12px 10px;
    transition: all .5s;
}

.search li:hover {
    cursor: pointer;
    color: var(--color-red);
}
/* 4. Style search menu */
/* =========================End Header========================= */





/* =========================Start Banner========================= */
/* 1. Style layout */
.banner-full {
    background: var(--color-grey-white);
}

.banner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.banner .image {
    width: 40%;
}

.banner .content {
    width: calc(60% - 8%);
    margin-left: 8%;
}
/* 1. Style layout */

/* 2. Style image */
.banner .image img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
/* 2. Style image */

/* 3. Style content */
.banner .content span {
    display: inline-block;
    margin-bottom: 10px;
    color: var(--color-red);
}

.banner .content h2 {
    font-size: 32px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 700;
}

.banner .content h5 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.banner .content a {
    display: inline-block;
    padding: 12px 29px;
    background: var(--color-red);
    color: var(--color-white);
    border: 1px solid red;
    transition: all .5s;
}

.banner .content a:hover {
    background: transparent;
    color: var(--color-red);
}
/* 3. Style content */
/* =========================End Banner=========================== */





/* =========================Start Products=========================== */
/* 1.Style layout */
.product-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
    /* justify-content: space-between; */
}

.product-item {
    /* width: 23.5%; */
    width: calc(25% - 24px);
    margin-left: 24px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 7px rgb(0, 0, 0, 0.1);
}

.product-item .product-image a {
    display: block;
}

.product-item .product-image img {
    max-width: 100%;
    display: block;
}
/* 1.Style layout */

/* 2. Style product's title */
.product-full h2 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin: 40px 0;
}
/* 2. Style product's title */

/* 3. Style product information */
.product-info {
    padding: 15px;
}

.product-info > h6 {
    margin-bottom: 8px;
}

.product-info > h6 > a {
    font-size: 16px;
    color: var(--color-black);
    font-weight: 500;
}

.product-info > h6 > a:hover {
    color: var(--color-red);
}

.product-price {
    margin-bottom: 8px;
}

.product-price span:first-child {
    color: var(--color-red);
    font-weight: 600;
}

.product-price span:nth-child(2) {
    color: var(--color-grey);
    font-size: 14px;
    display: inline-block;
    margin: 0 4px;
    text-decoration: line-through;
}

.product-price span:last-child{
    color: var(--color-green);
}

.product-rating i {
    color: var(--color-yellow);
    font-size: 14px;
}

.product-rating span {
    color: var(--color-grey);
    font-size: 14px;
}

/* New approach 1: */
/* If the number of product items is odd, justify-content can make distance between each item bigger.
How to solve this problem?

We can add more empty items such that the number of items is divisible by 4.
If we have 5 items, we can add 3 empty items and make them invisible. */

/* .product-item:empty {
    height: 0;
    box-shadow: none;
} */

/* New approach 2: */
/* We can use padding to style the layout of card items.
Set up padding for product-item (padding: 0 12px, width: 25%), but we have a problem that the box-shadow is outer.
We can solve this problem by creating a div.product-items-nested in product-item. This div contains image and information about the product.
Now we just set up box-shadow for product-item-nested and obtain the layout as expected. */

/* 3. Style product information */
/* =========================End Products============================= */





/* =========================Start Service============================= */
/* 1. Style layout */
.service-box {
    display: flex;
}

.service-box .service-box-item {
    width: 33.3333%;
    padding: 0 40px;
    text-align: center;
}
/* 1. Style layout */
/* =========================End Service=============================== */

